/* .m1.m2{
    background-color: green;
}
p.m1{
    color: blue
}
a[target] {
    background-color: lightblue;
    color: red;
} */
*{
    margin: 0px;
    color:yellowgreen;
}

div>p{
    text-transform: uppercase;
    text-decoration: solid;
    color: orange;
}
a{
    color:red;
}
a[target]{
    color:green
}